.container {  display: grid;
    grid-template-columns: 0.7fr 1.7fr 0.6fr;
    grid-template-rows: 0.3fr 1.7fr 1fr 1fr 1.7fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      ". main ."
      ". main ."
      ". main ."
      ". main ."
      "footer footer footer";
  }
  
  .header {  display: grid;
    grid-template-columns: 2.8fr 0.1fr 0.1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . .";
    grid-area: header;
  }
  
  .main {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1.1fr 1fr 1.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      "."
      "."
      ".";
    grid-area: main;
  }
  
  .footer { grid-area: footer; }
  